<html>
<style>
body{
  margin: 0;
  font-family: "poppins",Sans-Serif;
  background: #c5f1eb;
  color: black;
}
header{
  background: url("IMG-20250712-WA0009.jpg");
  
  justify-content: space-between;
  padding: 12px;
}
header nav a{
  color: #fff;
  text-decoration: underline;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
}
 header h1{
  font-family:Arial, Sans-Serif ;
  font-size: 35px;
  font-style: italic;
  animation: bounce 1s infinite alternate;
}
@keyframes bounce{
  from{transform:translateY(0);} to{transform: translateY(-60px);}
}
.btn{
  display: inline-block;
  background: var(__muted);
  color: #6cec44;
  padding: 12px 18px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: bold;
  margin: 0;
  text-decoration: underline;
}
section{
  padding: 40px 20px;
  max-width: 500px;
  margin: 0 auto;
}
.grid{
  background: url("1756923329458.jpg");
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.05);
  width: 100% auto;
}
.card{
 background: white; 
 margin: 20px auto;
 padding: 20px;
 max-width: 400px;
 box-shadow: 0 4px 8px rgba(0,0,0,0.1);
 color: black;
 border: 10px;
}
.card h2{
  color: #333649d8;
}
footer{
  background: #e9ebe4e9;
  color: #1128b6e9;
  text-align: right;
  padding: 15px;
  font-size: 10px;
}
form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
form input,form textarea,form button{
  padding: 0,6rem;
  font-size: 1rem;
  width: 100%;
  margin-bottom: 15px;
  font-size: 16px;
  border: 2px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
form input:focus, form texterea:focus{
  border-color: dodgerblue;
  outline: none;
}
form button{
  background: green;
  color: black;
  border: none;
  cursor: pointer;
}
form button: hover{
  background: #ff9900;
}
@media(max-width:880px){.grid{grid-template-colums:1fr;}}
</style>
</html>